.pesquisa {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pesquisa input {
    width: 50%;
    border: none;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    transition: all ease-in-out .3s;
}

.pesquisa input:focus {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.212);
}

.pesquisa input::placeholder {
    padding-left: 3px;
}