.items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.158);
    margin: 5px;
}

@media(max-width: 525px) {
    .btns {
        width: 100%;
    }
}