.pesquisa span button {
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.151);
    transition: all ease-in-out .3s;
}

.pesquisa span button:hover {
    background-color: black;
    color: white;
}